@charset "UTF-8";


@media screen and (min-width: 769px) and (max-width: 992px){
    #animation{
        display: block;
    }
}


@media screen and (min-width: 993px){
    
    div#login{
        width: 900px;
    }
    form{
        margin-right: 50%;
    }
    form > h1 > img{
        margin-left: 20%;
    }
    
}