@charset "UTF-8";

@font-face {
    font-family: "k";
    src: url(../font/kiona/Kiona-Regular.ttf) format('truetype');
}
@font-face {
    font-family: ts;
    src: url(../font/tommy-soft/MADE\ Tommy\ Soft\ Light\ Outline\ PERSONAL\ USE.otf) format(opentype);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    overflow-x: scroll;
    background:url(../imagens/formas-de-papel-psicodelico-multicoloridas.jpg) ;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(-45deg, #2a56e6b4, #3b7ca8f2, #3cb2d2);
}

form{
    display: flex;
    flex-direction: column;
    line-height: 70px;
}
form > label{
    color: #392c30;
    font-weight: 900;
    font-family: k;
}


img{
    width: 190px;
    
}
footer{
    text-align: center;
}