@charset "UTF-8";

@font-face {
    font-family: "tommy";
    src: url(../font/tommy-soft/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf) format('opentype');
}


@media screen and (min-width: 769px) and (max-width: 992px){
    #áreas-de-trabalho{
        display: flex;
        margin: 20px 15px 0px 0px;   
    }
    #áreas-de-trabalho > img{
        margin-left: 7px;
        margin-right: 8px;
        margin-top: -2px;
    }
    #áreas-de-trabalho > p{
        color: white;
    }
    #menu-lateral{
        display: inline-flex;
        position: fixed;
        height: 100%;
        width: 30%;
    }
    #menu-lateral > #quadros-modelo-inicio{
        margin-top: 60px;
    }
    #quadros-modelo-inicio > #quadros-ml{
        margin: 40px 0px 5px 20px;
    }
    #quadros-modelo-inicio > #quadros-ml > img{
        width: 20px;
        margin-right: 4px;
    }
    #quadros-modelo-inicio > #quadros-ml > a{
        text-decoration: none;
        position: absolute;
        color: rgb(32, 49, 49);
        font-family: 'tommy';
    }
    #quadros-modelo-inicio > #modelos-ml{
        margin: 17px 0px 15px 15px;
    }
    #quadros-modelo-inicio > #modelos-ml > img{
        width: 26px;
    }
    #quadros-modelo-inicio > #modelos-ml > a{
        text-decoration: none;
        position: absolute;
        color: rgb(32, 49, 49);
        font-family: 'tommy';
        margin-top: 5px;
        margin-left: 5px;
    }
    #quadros-modelo-inicio > #inicio-ml{
        margin: 0px 0px 15px 15px;
    }
    #quadros-modelo-inicio > #inicio-ml > img{
        width: 32px;
        margin-right: 4px;
    }
    #quadros-modelo-inicio > #inicio-ml > a{
        text-decoration: none;
        position: absolute;
        color: rgb(32, 49, 49);
        font-family: 'tommy';
        margin-top: 5px;
        margin-left: 5px;
    }
    #conteudo-geral{
        position: absolute;
        left: 32%;
        top: 5%;
    }
    #quadros-views-members-cfg-att{
        width: 380px;
    }
    #pequisa-sino-conta{
        position: absolute;
        margin-left: 20px;
        left: 80%;
    }
    

}