@charset "UTF-8";

@font-face {
    font-family: "tommy";
    src: url(../font/tommy-soft/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf) format('opentype');
}


@media screen and (min-width: 769px) and (max-width: 992px){
    #pequisa-sino-conta > #pesquisa > img{
        position: absolute;
        right: 100px;
        top: 14px;
        z-index: 999;
        height: 20px;
    }
    #pequisa-sino-conta > #pesquisa > #ibuscar{
        display: flex;
        position: absolute;
        right: 95px;
        top: 9px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: rgb(77, 165, 216);
    }
    #ibuscar::placeholder{
        color: white;
    }
    #áreas-de-trabalho{
        display: flex;
        margin: 20px 15px 0px 0px;   
    }
    #áreas-de-trabalho > img{
        margin-left: 7px;
        margin-right: 8px;
        margin-top: -2px;
    }
    #áreas-de-trabalho > p{
        color: white;
    }
    #menu-lateral{
        display: inline-flex;
        position: fixed;
        height: 100%;
        width: 30%;
    }
    #menu-lateral > #quadros-modelo-inicio{
        margin-top: 60px;
    }
    #quadros-modelo-inicio > #quadros-ml{
        margin: 40px 0px 5px 20px;
    }
    #quadros-modelo-inicio > #quadros-ml > img{
        width: 20px;
        margin-right: 4px;
    }
    #quadros-modelo-inicio > #quadros-ml > a{
        text-decoration: none;
        position: absolute;
        color: rgb(32, 49, 49);
        font-family: 'tommy';
    }
    #quadros-modelo-inicio > #modelos-ml{
        margin: 17px 0px 15px 15px;
    }
    #quadros-modelo-inicio > #modelos-ml > img{
        width: 26px;
    }
    #quadros-modelo-inicio > #modelos-ml > a{
        text-decoration: none;
        position: absolute;
        color: rgb(32, 49, 49);
        font-family: 'tommy';
        margin-top: 5px;
        margin-left: 5px;
    }
    #quadros-modelo-inicio > #inicio-ml{
        margin: 0px 0px 15px 15px;
    }
    #quadros-modelo-inicio > #inicio-ml > img{
        width: 32px;
        margin-right: 4px;
    }
    #quadros-modelo-inicio > #inicio-ml > a{
        text-decoration: none;
        position: absolute;
        color: rgb(32, 49, 49);
        font-family: 'tommy';
        margin-top: 5px;
        margin-left: 5px;
    }
    #conteudo-geral{
        position: absolute;
        left: 32%;
        top: 5%;
    }
    #quadros-views-members-cfg-att{
        width: 380px;
    }
    #pequisa-sino-conta{
        position: absolute;
        margin-left: 20px;
        left: 80%;
    }
    #areas-de-trabalho-menu-lateral{
        display: flex;
        position: inherit;
        width: 160px;
        height: 40px;
        margin-top: 10px;
        top: 230px;
        left: 15px;
    }
    #areas-de-trabalho-menu-lateral > #add-trabalho-quadro{
        height: 40px;
        
    }
    #areas-de-trabalho-menu-lateral > #add-trabalho-quadro > a > img{
        position: absolute;
        height: 24px;
        left: 135px;
        top: 0px; 
    }
    #areas-de-trabalho-menu-lateral > #add-trabalho-quadro > a{
        text-decoration: none;
    }
    #areas-de-trabalho-menu-lateral > #add-trabalho-quadro > a > p{
        color: rgb(32, 41, 44);
        margin-top: 1px;
        font-family: "tommy";
    }
    

}