@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
main{
    height: 100vh;
    width: 100vw;
}
header{
    background-color: #026AA7;
    width: 100vw;
}
#lista{
    display: flex;
    list-style: none;    
}
#trello-menu1{
    display: block;
    width: 45px;
    height: 45px;
    margin: 10px 0px 0px 10px;
    
}
#trello-menu-principal{
    display: block;
    background-color: azure;
    margin: 5px;
    height: 45px;
    width: 115px;
}
#mais{
    background-color: brown;
    display: block;
    margin: 5px;
    height: 45px;
    width: 110px;
}
#mais > #btn-mais{
    background-color: aquamarine;
    margin-right: 5px;
    margin-top: -13px;
    width: 35px;
    height: 35px;
    float: right;
}
#pequisa-sino-conta{
    display: flex;
    margin-left: 50px;
    margin-top: 5px;
    
}
#pequisa-sino-conta > #pesquisa{
    background-color: blueviolet;
    margin: 5px;
    width: 35px;
    height: 35px;

}
#pequisa-sino-conta > #sino {
    background-color: cadetblue;
    margin: 5px;
    width: 35px;
    height: 35px;
}
#pequisa-sino-conta > #conta {
    background-color: crimson;
    margin: 5px;
    width: 35px;
    height: 35px;
}
#visualizado-recentemente{
    display: block;
    background-color: blueviolet;
    width: 100vw;
    height: 190px;
    
}
#visualizado-recentemente > #visualizado{
    position: absolute;
    background-color: antiquewhite;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-left: 10px;
    
}
#visualizado-recentemente > h2{
    font-size: 1.4em;
    margin: 10px;
    margin-top: 25px;
    margin-left: 50px;
    padding-top: 15px ;
}
#visualizado-recentemente > #trabalho-visualizado{
    background-color: cadetblue;
    margin: 10px;
    height: 120px;
    width: 250px;
}
#suas-areas-de-trabalho{
    margin-top: 20px;
    margin-left: 10px;
}
#suas-areas-de-trabalho > h3{
    background-color: coral;
    font-size: 1.2em; 
    width: 440px;
}
#work-area{
    background-color: rgb(255, 166, 0);
    height: 50px;
    width: 440px;
    margin-bottom: 5px;
}
#work-area > #Area1-EX{
    background-color: rgb(252, 171, 171);
    height: 50px;
}
#work-area > #Area1-EX > #ex-img{
    position: absolute;
    background-color: crimson;
    margin: 2px;
    width: 45px;
    height: 45px;
}
#work-area > #Area1-EX > p{
   position: absolute;
   margin-left: 55px;
   margin-top: 12px;
   font-size: 1.3em;
   font-weight: bolder;
    
}
#quadros-views-members-cfg-att{
    width: 100vw;
    height: 170px;
    padding: 10px; 
    margin: 5px 0px 15px 0px;
    columns: 2;
    background-color: darkslategrey; 
    
}
#quadros-views-members-cfg-att > #quadros{
    background-color: yellow;
    display: flex;
    height: 45px;
    padding: 3px;
    width: 190px;
}
#quadros-views-members-cfg-att > #quadros > img{
    background-color: blanchedalmond;
    width: 40px;
    margin-left: 5px;
}
#quadros-views-members-cfg-att > #quadros > p{
    margin-left: 10px;
    margin-top: 10px;
}
#quadros-views-members-cfg-att > #vizualizacao{
    background-color: blue;
    display: flex;
    height: 45px;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    width: 190px;
}
#quadros-views-members-cfg-att > #vizualizacao > p{
    margin-left: 10px;
    margin-top: 10px;
}
#quadros-views-members-cfg-att > #vizualizacao > img{
    background-color: blanchedalmond;
    width: 40px;
    margin-left: 5px;
}
#quadros-views-members-cfg-att > #membros{
    background-color: violet;
    display: flex;
    height: 46px;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    width: 190px;

    

}
#quadros-views-members-cfg-att > #membros > p{
    margin-left: 10px;
    margin-top: 10px;
}
#quadros-views-members-cfg-att > #membros > img{
    background-color: blanchedalmond;
    width: 40px;
    margin-left: 5px;
}
#quadros-views-members-cfg-att > #config{
    background-color: cornflowerblue;
    display: flex;
    height: 45px;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    width: 190px;

    
}
#quadros-views-members-cfg-att > #config > p{
    margin-left: 10px;
    margin-top: 10px;
}
#quadros-views-members-cfg-att > #config > img{
    background-color: blanchedalmond;
    width: 40px;
    margin-left: 5px;
}
#quadros-views-members-cfg-att > #atualizar{
    background-color: rgb(9, 255, 0);
    display: flex;
    height: 45px;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    width: 190px;
}
#quadros-views-members-cfg-att > #atualizar > p{
    margin-left: 10px;
    margin-top: 10px;
}
#quadros-views-members-cfg-att > #atualizar > img{
    background-color: blanchedalmond;
    width: 40px;
    margin-left: 5px;
}
#areas-como-convidado{
    background-color: rgb(209, 190, 152);
    width: 100vw;
    height: 30vh;
}

